body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #003366;
}

.input-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #003366;
}

.file-input {
    display: inline-block;
    background-color: #f2f2f2;
    color: #003366;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input:hover {
    background-color: #003366;
    color: #fff;
}

.select-box {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #003366;
    background-color: #f2f2f2;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.select-box:hover {
    border-color: #003366;
}

.text-area {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #003366;
    background-color: #f2f2f2;
    resize: none;
}